/* Designs for Mobile & Tablets Resolution */
@media screen and (max-width: 576px) {

}

@media screen and (max-width: 576px) {
  html {
    font-size: 9.5px;
  }

  #parent {
    margin-top: 39%;
  }

  .home {
    height: 83vh;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .nav-icon {
    top: 7%;
  }

  .hadith {
    width: 85vw;
  }

  .application {
    width: 78vw;
    padding: 1.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .about-details { width: 85vw; }

  .get-email .page-title {
    font-size: 2.7rem;
  }

  .get-email .email-msg, .email-input, .input-field {
    width: 85vw !important;
  }

  .get-email .input-field input {
    font-size: 1.7rem;
  }
}
