/* Designs for Mobile & Tablets Resolution */
@media screen and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .nav-icon {
    top: 7%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 9.5px;
  }

  #parent {
    margin-top: 27%;
  }

  .home {
    height: 83vh;
  }

  .hadith {
    width: 85vw;
  }

  .application {
    width: 78vw;
    padding: 1.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .about-details { width: 85vw; }
}

/* Tablets / iPads */

@media screen and (min-width: 576px) and (max-width: 992px) {
  html {
    font-size: 13px;
  }

  #parent {
    margin-top: 17%;
  }

  .home {
    height: 83vh;

  }

  .hadith {
    width: 85vw;
  }

  .application {
    width: 85vw;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .about-details { width: 85vw; }
}
