* {
  margin: 0;
}

html {
  background-color: #faf7f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  overflow: scroll;
  overflow-x: hidden;

  scrollbar-width: none;
  scrollbar-color: unset;
}

::-webkit-scrollbar, ::-moz-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb, ::-moz-scrollbar {
  background: #FF0000;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  padding: 2rem;
  transition: background-color 0.5s;
  font-weight: 200;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */

  scrollbar-width: none;
  scrollbar-color: unset;

}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#parent {
  right: 0;
  transition: 0.5s;
  position: relative;
  margin-top: 9%;
  scrollbar-width: none;
  scrollbar-color: unset;
}

.child {
  scrollbar-width: none;
  scrollbar-color: unset;
}

.child::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.child::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 84vh;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s; /* Firefox < 16 */
  -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
  animation: fadein 1.3s;
}

.page-title {
  font-family: "Courgette", cursive !important;
  font-weight: bold;
  font-size: 3.375rem;
}

.topic {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
  letter-spacing: 0.12rem;
  font-weight: 600;
}

.hadith {
  text-align: center;
  font-size: 1.8rem;
  width: 70vw;
  margin-top: 3rem;
  margin-bottom: 0.7rem;
  padding: 1rem;
  line-height: 3rem;
}

.book {
  width: fit-content;
  font-size: 1.25rem;
}

.application {
  padding: 1em;
  background-color: #f0e8cc;
  width: 70vw;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 2.3rem;
  margin-top: 3rem;
  line-height: 2.5rem;
}

.share-icon {
  background-color: #3D3B3B;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0.3rem;
  cursor: pointer;
  min-width: 2.3rem;
}

.share-icon img {
  vertical-align: middle;
  cursor: pointer;
}

.share-options {
  position: absolute;
  top: 50%;
  background-color: #3D3B3B;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  width: 15rem;
  padding: 1.5rem;
}

#shareOptions {
  display: none;
}

.emphasize {
  font-style: italic;
  font-weight: bold;
}

/* SideNav styles */

.nav-icon {
  height: 6.25rem;
  width: 6.25rem;
  line-height: 6.25rem;
  background-color: #3d3b3b;
  color: #f0e8cc;
  border-radius: 25%;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  right: -6.25rem;
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translate(-70%, -50%);
  transform: translate(-70%, -50%);
  transition: 0.5s;
  opacity: 0.5;
}

.sidenav {
  height: 100%;
  width: 15.625rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -15.625rem;
  background-color: #3d3b3b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #f0e8cc;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.4s;
}

.sidenav a:hover {
  font-size: 1.9rem;
}

.sidenav a.support { position: relative; }

.sidenav .coffee {
  position: absolute;
  top: -5%;
  left: 53%;
  transition: left 0.5s;
}

.sidenav a.support:hover .coffee {
  left: 61%
}

/* About Page Styles*/

.heading {
  font-weight: bold;
  font-style: italic;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s; /* Firefox < 16 */
  -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
  animation: fadein 1.3s;
}

.about-details {
  font-size: 1.75rem;
  line-height: 2.75rem;
  width: 50vw;
}

.about-details > p {
  margin-top: 2rem;
}

.about .footer {
  margin-top: 3rem;
}

/* Get Email Page Styles*/

.get-email {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s; /* Firefox < 16 */
  -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
  animation: fadein 1.3s;

}

.get-email .email-msg {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  width: 33vw;
  text-align: center;
  line-height: 2.5rem;
}

.get-email .email-input {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.get-email .email-heading {
  font-weight: bold;
}

.get-email .input-field form {
  margin-top: 0.8rem;
  background-color: #f0e8cc;
  height: 4.5rem;
  width: 47rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.get-email .input-field input {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 500;
  background: transparent !important;
  border: none;
  font-size: 2rem;
  width: 70%;
  outline: none;
}

/* Remove auto fill bg color style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #f0e8cc inset !important;
}

.get-email input.submitted {
  color: #666666;
}

.get-email .input-field button {
  font-family: 'Raleway', 'sans-serif';
  background: #1C4587;
  color: white;
  border: none;
  padding: 0.55rem;
  font-size: 1.3rem;
  width: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.get-email .input-field button.success {
  width: 10.5rem;
  background-color: #0097A7;
}

/******************************* Designs for Mobile Start ********************************/

/* Designs for Mobile & Tablets Resolution */
@media screen and (max-width: 576px) {
  html {
    font-size: 9.5px;
  }

  #parent {
    margin-top: 39%;
  }

  .home {
    height: 83vh;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .sidenav img.coffee {
    top: 14%;
    left: 71%;
    height: 69%;
  }

  .nav-icon {
    top: 7%;
  }

  .hadith {
    width: 85vw;
  }

  .application {
    width: 78vw;
    padding: 1.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .about-details { width: 85vw; }

  .get-email .page-title {
    font-size: 2.7rem;
  }

  .get-email .email-msg, .email-input, .input-field {
    width: 85vw !important;
  }

  .get-email .input-field input {
    font-size: 1.7rem;
  }

  .get-email .input-field form {
    width: 80vw !important;
  }

  .share-options {
    padding: 0.5rem;
  }

  .share-options img {
    height: 70%;
    width: auto;
  }

  .share-options a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/******************************* Designs for Mobile End ********************************/


/******************************* Designs for Tablet Start ********************************/
/* Tablets / iPads */

@media screen and (min-width: 576px) and (max-width: 992px) {
  html {
    font-size: 13px;
  }

  .sidenav img.coffee {
    top: 3%;
    left: 57%;
    height: 85%;
  }

  #parent {
    margin-top: 23%;
  }

  .home {
    height: 83vh;
  }

  .hadith {
    width: 85vw;
  }

  .application {
    width: 85vw;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .about-details {
    width: 85vw;
  }

  .get-email .email-msg {
    width: 85vw !important;
  }
}

/******************************* Designs for Tablet End ********************************/

/******************************* Designs for Shared Utils Start ********************************/

.display-none {
  display: none !important;
}

.form-error {
  display: none;
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

/* ---- Fade In Begins ----*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ---- Fade In Ends ----*/

/******************************* Designs for Shared Utils End ********************************/


/******************************* Designs for Loader Start ********************************/


.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.preloader {
  /* size */
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader 2s infinite ease-in;
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: #f4e386;
  transform: translateX(-50%);
  border-radius: 50%;
}

.preloader div:nth-child(1) {
  transform: rotateZ(0deg);
  animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    transform: rotateZ(36deg);
  }
  7% {
    transform: rotateZ(0deg);
  }
  57% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(2) {
  transform: rotateZ(36deg);
  animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  12% {
    transform: rotateZ(-36deg);
  }
  62% {
    transform: rotateZ(-36deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(3) {
  transform: rotateZ(72deg);
  animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg);
  }
  17% {
    transform: rotateZ(-72deg);
  }
  67% {
    transform: rotateZ(-72deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(4) {
  transform: rotateZ(108deg);
  animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg);
  }
  22% {
    transform: rotateZ(-108deg);
  }
  72% {
    transform: rotateZ(-108deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(5) {
  transform: rotateZ(144deg);
  animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg);
  }
  27% {
    transform: rotateZ(-144deg);
  }
  77% {
    transform: rotateZ(-144deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(6) {
  transform: rotateZ(180deg);
  animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg);
  }
  32% {
    transform: rotateZ(-180deg);
  }
  82% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(7) {
  transform: rotateZ(216deg);
  animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg);
  }
  37% {
    transform: rotateZ(-216deg);
  }
  87% {
    transform: rotateZ(-216deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(8) {
  transform: rotateZ(252deg);
  animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg);
  }
  42% {
    transform: rotateZ(-252deg);
  }
  92% {
    transform: rotateZ(-252deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(9) {
  transform: rotateZ(288deg);
  animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg);
  }
  47% {
    transform: rotateZ(-288deg);
  }
  97% {
    transform: rotateZ(-288deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(10) {
  transform: rotateZ(324deg);
  animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg);
  }
  52% {
    transform: rotateZ(-324deg);
  }
  102% {
    transform: rotateZ(-324deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

/******************************* Designs for Loader Start ********************************/
