* {
  margin: 0;
}

html {
  background-color: #faf7f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  padding: 2rem;
  transition: background-color 0.5s;
  font-weight: 200;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#parent {
  right: 0;
  transition: 0.5s;
  position: relative;
  margin-top: 9%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 84vh;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s; /* Firefox < 16 */
  -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
  animation: fadein 1.3s;
}

.page-title {
  font-family: "Courgette", cursive !important;
  font-weight: bold;
  font-size: 3.375rem;
}

.topic {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
  letter-spacing: 0.12rem;
  font-weight: 600;
}

.hadith {
  text-align: center;
  font-size: 1.8rem;
  width: 70vw;
  margin-top: 3rem;
  margin-bottom: 0.7rem;
  padding: 1rem;
  line-height: 3rem;
}

.book {
  width: fit-content;
  font-size: 1.25rem;
}

.application {
  padding: 1em;
  background-color: #f0e8cc;
  width: 70vw;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 2.3rem;
  margin-top: 3rem;
  line-height: 2.5rem;
}

.share-icon {
  background: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3rem;
  cursor: pointer;
}

.share-icon img { vertical-align: middle; }

.share-options {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  width: 15rem;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.share-options img {
 cursor: pointer;
}

#shareOptions {
  display: none;
}

.emphasize {
  font-style: italic;
  font-weight: bold;
}

/* SideNav styles */

.nav-icon {
  height: 6.25rem;
  width: 6.25rem;
  line-height: 6.25rem;
  background-color: #3d3b3b;
  color: #f0e8cc;
  border-radius: 25%;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  right: -6.25rem;
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translate(-70%, -50%);
  transform: translate(-70%, -50%);
  transition: 0.5s;
  opacity: 0.5;
}

.sidenav {
  height: 100%;
  width: 15.625rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -15.625rem;
  background-color: #3d3b3b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #f0e8cc;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.4s;
}

.sidenav a:hover {
  font-size: 1.9rem;
}

.sidenav a.support { position: relative; }

.sidenav .coffee {
  position: absolute;
  top: -5%;
  left: 53%;
  transition: left 0.5s;
}

.sidenav a.support:hover .coffee {
  left: 61%
}

/* About Page Styles*/

.heading {
  font-weight: bold;
  font-style: italic;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s; /* Firefox < 16 */
  -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
  animation: fadein 1.3s;
}

.about-details {
  font-size: 1.75rem;
  line-height: 2.75rem;
  width: 50vw;
}

.about-details > p {
  margin-top: 2rem;
}

/* Get Email Page Styles*/

.get-email {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s; /* Firefox < 16 */
  -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
  animation: fadein 1.3s;

}

.get-email .email-msg {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  width: 33vw;
  text-align: center;
  line-height: 2.5rem;
}

.get-email .email-input {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.get-email .email-heading {
  font-weight: bold;
}

.get-email .input-field {
  margin-top: 0.8rem;
  background-color: #f0e8cc;
  height: 4.5rem;
  width: 47rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.get-email .input-field input {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 500;
  background: transparent;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  width: 70%;
  outline: none;
}

.get-email input.submitted {
  color: #666666;
}

.get-email .input-field button {
  font-family: 'Raleway', 'sans-serif';
  background: #1C4587;
  color: white;
  border: none;
  padding: 0.55rem;
  font-size: 1.3rem;
  width: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.get-email .input-field button.success {
  width: 10.5rem;
  background-color: #0097A7;
}
